<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="CBJET Logo">
        CBJET Airways
    </header>
    <h1>Welcome, {{ username }}</h1>
    <ul class="main-menu">
        <li><a href="{{ url_for('flights') }}"><img src="{{ url_for('static', filename='view_flights.png') }}" alt="View Flights" class="icon">View Flights</a></li>
        <li><a href="{{ url_for('booking_history') }}"><img src="{{ url_for('static', filename='booking_history.png') }}" alt="Booking History" class="icon">Booking History</a></li>
        <li><a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='logout.png') }}" alt="Logout" class="icon">Logout</a></li>
    </ul>
</body>
</html>
